<div class="{{if (eq @deck-name "communityChest") "community-chest-deck" "chance-deck"}}">
    <h2 class="label">
        {{if (eq @deck-name "communityChest") "Community Chest" "Chance"}}</h2>

    <div class="deck">
        {{#if (eq @deck-name "communityChest")}}
            <i class="community-chest-deck-drawing fas fa-sticky-note"></i>
        {{else}}
            <i class="chance-deck-drawing fas fa-sticky-note"></i>
        {{/if}}
    </div>
</div>