<div class="space s
    {{if-name-equals @board-position 'Community Chest' "community-chest" "chance"}}">

    <div class="container">
        <div class="name">{{get-value @board-position 'name'}}</div> 

        {{!-- Determine icon to display --}}
        <i class="drawing fa {{if-name-equals @board-position 'Community Chest' "fa-cube" "fa-question blue"}}"></i>

        <PlayerToken @position={{@board-position}}/>

        {{!-- Only display if this is a Comm Chest space --}}
        {{#if (eq (get-value @board-position 'name') "Community Chest")}}
        <div class="instructions">Follow instructions on top card</div>
        {{/if}}
    </div>
</div>