<div class="space corner free-parking">
    <div class="container">
        <div class="name">Free</div>
        <i class="drawing fa fa-car"></i>
        <div class="name">{{get-name @board-position 'name'}}</div>
    </div>
</div>