<div class="table">
    <div class="board">
        <div class="center">
            <CenterDeck @name="communityChest" />
            <h1 class="title">MONOPOLY</h1>
            <CenterDeck @name="chance" />
        </div>

        <Go />

        <div class="row horizontal-row bottom-row">
            <Property @name="property5" />
            <Property @name="property4" />
            <DeckSpace @name="chance" />
            <Property @name="property3" />
            <Railroad @name="railroad1" />
            <Tax @name="income" />
            <Property @name="property2" />
            <DeckSpace @name="communityChest" />
            <Property @name="property1" />
        </div>

        <Jail />

        <div class="row vertical-row left-row">
            <Property @name="property11" />
            <Property @name="property10" />
            <DeckSpace @name="communityChest" />
            <Property @name="property9" />
            <Railroad @name="railroad2" />
            <Property @name="property8" />
            <Property @name="property7" />
            <Utilities @name="electric" />
            <Property @name="property6" />
        </div>

        <FreeParking />

        <div class="row horizontal-row top-row">
            <Property @name="property12" />
            <DeckSpace @name="chance" />
            <Property @name="property13" />
            <Property @name="property14" />
            <Railroad @name="railroad3" />
            <Property @name="property15" />
            <Property @name="property16" />
            <Utilities @name="waterworks" />
            <Property @name="property17" />
        </div>

        <GoToJail />

        <div class="row vertical-row right-row">
            <Property @name="property17" />
            <Property @name="property18" />
            <DeckSpace @name="communityChest" />
            <Property @name="property19" />
            <Railroad @name="railroad4" />
            <DeckSpace @name="chance" />
            <Property @name="property21" />
            <Tax @name="luxury" />
            <Property @name="property22" />
        </div>
    </div>
</div>