<div class="space corner go-to-jail">
    <div class="container">
        <div class="name">{{get-value @board-position 'name'}}</div>
        <i class="drawing fas fa-gavel"></i>
        <div class="name">Jail</div>

        <PlayerToken />
    </div>
</div>