<div class="space corner go">
    <div class="container">
        <div class="instructions">Collect $200.00 salary as you pass</div>
        <div class="go-word">{{get-value @board-position 'name'}}</div>

        <PlayerToken @position={{@board-position}}/>
        
    </div>
</div>