<div class="space corner go">
    <div class="container">
        <div class="instructions">Collect $200.00 salary as you pass</div>
        <div class="go-word">{{get-name @board-position 'name'}}</div>
    </div>
    <div class="arrow fa fa-long-arrow-left"></div>
</div>