<div class="space corner jail">
    <div class="just">Just</div>
    <div class="drawing">
        <div class="container">
            <div class="name">In</div>
            <div class="window">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <i class="person far fa-frown"></i>
            </div>
            <div class="name">{{get-value @board-position 'name'}}</div>
        </div>
    </div>
    <div class="visiting">Visiting</div>
</div>