<div class="space property">
    <div class="container">
        <div class="color-bar {{get-value @board-position 'color'}}"></div>
        <div class="name">{{get-value @board-position 'streetName'}}</div>

        <div class="ownership">_</div>

        <div class="price">
            Price ${{get-value @board-position 'price'}}</div>
    </div>
</div>
