<div class="space railroad">
    <div class="container">
        <div class="name">{{get-value @board-position 'name'}}</div>

        <div class="ownership">_</div>
        <i class="drawing fa fa-subway"></i>
        
        <PlayerToken />
        
        <div class="price">Price ${{get-value @board-position 'price'}}</div>
    </div>
</div>