<div class="space utility
    {{if-name-equals @board-position "Electric Company" "electric-company" "waterworks"}}">

    <div class="container">
        <div class="name">{{get-value @board-position 'name'}}</div>

        <div class="ownership">_</div>
        
        <i class="drawing 
        {{if-name-equals @board-position "Electric Company" "far fa-lightbulb" "fas fa-tint"}}"></i>

        <PlayerToken />
        
        <div class="price">Price {{get-value @board-position 'price'}}</div>
    </div>
</div>