<div class="space utility
    {{if (eq (get-value @board-position 'name') "Electric Company") "electric-company" "waterworks"}}">

    <div class="container">
        <div class="name">{{get-value @board-position 'name'}}</div>

        <div class="ownership">_</div>
        
        <i class="drawing 
        {{if (eq (get-value @board-position 'name') "Electric Company") "far fa-lightbulb" "fas fa-tint"}}"></i>

        <div class="price">Price {{get-value @board-position 'price'}}</div>
    </div>
</div>